$mainColor: palevioletred;
$textColor: whitesmoke !important; 
$headerFont: 'Montserrat Alternates', sans-serif;
$textFont: 'Montserrat', sans-serif;

* {
 box-sizing: border-box;
    &:before, &:after {
        box-sizing: border-box;
    }
}

html, body {
    height: 100%;
    position: relative;
}

#mainContainer {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 200px; /* Has to match height of footer */
}

body {
    background-color: mediumslateblue;
    font-family: $textFont;
    color: $textColor;
    header {
        background: url("assets/cacaoHands.jpg") no-repeat;
        background-size: cover;
        background-color: $mainColor;
        width: 100%;
        height: 50vh;
        a {
            color: $textColor;
        }
        #nav-bar {
            background-color: rgba(0, 0, 0, 0.9);
        }
    }
    h1 {
        font-family: $headerFont;
        font-weight: 700;
        font-size: 50px;
        color: $textColor;
    }
    footer {
        background-color: $mainColor;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 200px;
    }
}

// .navbar-dark .navbar-toggler {
//     color: $textColor;
//     border-color: $textColor;
// }

// #navbarNav {
//     background-color: rgba(0, 0, 0, 0.9);
// }
